[submodule "bechmark/selene"]
	path = bechmark/selene
	url = https://github.com/jeremyong/Selene
[submodule "luacxx"]
	path = luacxx
	url = https://github.com/dafrito/luacxx
[submodule "bechmark/luacxx"]
	path = bechmark/luacxx
	url = https://github.com/dafrito/luacxx
[submodule "external/Selene"]
	path = external/Selene
	url = https://github.com/jeremyong/Selene
